<div class="container mt-5">
  <h1>Applicants for Job</h1>
    <table class="table table-striped applicants-table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Contact</th>
          <th scope="col">Resume</th>
        </tr>
      </thead>
      <tbody>
        <% const startIndex = (pageNo - 1) * noItems; 
          const totalPages = Math.ceil(applicants.length/noItems);
        %>
        <% for (let i = startIndex; i < applicants.length && i < startIndex+noItems ; i++) {
          const applicant = applicants[i];
        %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= applicant.name %></td>
            <td><%= applicant.email %></td>
            <td><%= applicant.contact %></td>
            <td>
              <% if (applicant.resume) { %>
                <a href="<%= applicant.resume %>" class="btn btn-outline-primary rounded-pill">Download Resume</a>
              <% } else { %>
                No resume uploaded
              <% } %>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
      
  <!-- Pagination -->
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <% if (pageNo > 1) { %>
        <li>
          <a class="page-link" href="/job/<%= jobId %>/applicants/<%= pageNo - 1 %>">Previous</a>
        </li>
      <% } %>
      <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="<%= i === pageNo ? 'active' : '' %>">
          <a class="page-link" href="/job/<%= jobId %>/applicants/<%= i %>"><%= i %></a>
        </li>
      <% } %>
      <% if (pageNo < totalPages) { %>
        <li>
          <a class="page-link" href="/job/<%= jobId %>/applicants/<%= pageNo + 1 %>">Next</a>
        </li>
      <% } %>
    </ul>
  </nav>
</div>
    